body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 98%);
    color: hsl(229, 6%, 66%);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

main h1, section h2 {
    color: hsl(234, 12%, 34%);
}

#supervisor {
    border-color: hsl(180, 62%, 55%);
}

#team-builder {
    border-color: hsl(0, 78%, 62%);
}

#karma {
    border-color: hsl(34, 97%, 64%)
}

#calculator {
    border-color: hsl(212, 86%, 64%);
}

@media (min-width: 768px) {
    .md-section-wrapper {
        min-width: 23rem;
    }
}